/* Navbar */
.navbar {
  margin-bottom: 0;
  width: 100vw;
}
.logo {
  height: 4rem;
  width: 6rem;
  margin-top: 0.1rem;
}
.btn {
  height: 3.5rem;
  width: 9.5rem;
  margin: 0.5rem;
}
.navbar {
  height: 0rem;
  background-color: white !important;
  box-shadow: 0 3px 10px 1px grey;
}
.information {
  display: flex;
}
.information .name {
  margin: auto;
}
.information .btn {
  margin: auto;
}
.mycourses {
  margin-left: 29vw;
  color: #8e8a8a;
}
.mycourses button {
  border: none;
  background: white;
}
.mycourses button:hover {
  background-color: #d0d0d0;
}
.mycourses button:nth-child(2):hover {
  background-color: white;
}
/* Navbar */

/* Login Modal */
.modal-title {
  width: 100%;
}
.modal-content {
  width: 70%;
  overflow: hidden;
  position: relative;
  left: 3vw;
}
.card {
  transition: all 2s ease-in;
  box-shadow: 0 3px 10px 1px grey;

  height: 5.5rem;
  width: 100%;
  margin: 1.5rem auto;
}
.card {
  transition: all 0.5s ease-in-out;
  height: 5.5rem;
  width: 94%;
  margin: 1.5rem auto;
}
.modal-body .btn-danger {
  margin: 0;
  margin-left: 1rem;
  font-size: 1.4rem;
  width: 94%;
  height: 4.5rem;
}
.card h4 {
  margin: auto 1.45rem;
}
.card Img {
  height: 2.5rem;
  width: 2.5rem;
}
.card-body {
  display: flex;
}
.card:nth-child(1):hover {
  background-color: #f4f4f4;
}
.card:nth-child(2) {
  background-color: #395999;
  color: white;
}
.card:nth-child(2):hover {
  background-color: #253b68;
}

/* Login Form */
.login-form input {
  height: 3.5rem;
  width: 94%;
  margin: 1.5rem auto;
}
.form-group .ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block {
  color: red;
  font-size: 10px;
  width: 94%;
  margin: auto;
}
/* Login Form */

/* Login Modal */

/* teach on udemy  */
.back-image {
  background: #505763
    url(https://udemy-images.udemy.com/teaching/header-image.jpg) right top
    no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 20px;
  color: white;
}
.modal-backdrop.show {
  opacity: 0.2;
}

/* createORview */
#viewOrCreate .back-image {
  background: #505763 url(../../assets/img/teach.jpg) right top no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 20px;
  color: white;
}
#viewOrCreate .modal-content {
  height: 50vh;
  margin-left: 11vw;
}
#viewOrCreate .btn {
  width: 15vw;
  margin-top: 10%;
}
#viewOrCreate .container,
#viewOrCreate .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media queries */
@media (max-width: 1500px) {
  .modal-dialog {
    position: relative;
    left: 4vw;
  }
  .mycourses {
    margin-left: 16vw;
  }

  #viewOrCreate .modal-content {
    height: 58vh;
    position: relative;
    left: -2vw;
  }
  #viewOrCreate .btn {
    width: 15vw;
  }
}
