#ongoingCourses {
  margin: 4rem;
}

#ongoingCourses .card {
  flex-direction: row;
  height: 20vh;
  margin-left: 1rem;
}
#ongoingCourses .ongoing {
  width: 94vw;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 19rem;
  flex: 1;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-around;
}
#ongoingCourses .trending {
  margin-top: 3rem;
  background-color: #003640;
  height: 7rem;
  width: 100%;
  width: 93vw;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 50%, 50%;
  background-image: none;
  background-color: white;
  box-shadow: 0 3px 10px 1px grey;
  border-radius: 50px;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 31px;
  color: #267892;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 31px;
  color: #267892;
}
