.scroll-to {
  height: 23%;
  margin-bottom: 14rem;
}
.scroll-to button {
  height: 6rem;
  margin: auto;
  width: 16%;
  font-size: 1.6rem;
  font-weight: bold;
  box-shadow: 0px 0px 15px 2px red;
  animation: animatebackground 3s ease-in-out;
  animation-iteration-count: infinite;
}

#trending-course .courses {
  height: 30rem;
  margin: 1.5rem;
}
#trending-course .card {
  margin-left: 2rem;
}
#trending-course .courses .card:nth-child(1) .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#trending-course .courses .card:nth-child(1) {
  background-color: #f7f8fa;
}
#trending-course .courses .card:nth-child(n + 2) {
  padding: 0;
}

/* skeleton */
.skeletonCard {
  border: none;
}
.skeletonCardImg {
  background-color: rgba(58, 57, 57, 0.3);
  width: 313px;
  height: 208px;
  margin-bottom: 2rem;
  animation: sweep 2s infinite;
  transform-origin: 0 50%;
}
.skeletonCardBody {
  height: 36px;
  padding: 0;
}
.skeletonCardTitle {
  background-color: rgba(58, 57, 57, 0.3);
  width: 313px;
  padding: 0;
  height: 16px;
  animation: sweep 2s infinite;
  transform-origin: 0 50%;
}
.skeletonCardText {
  background-color: rgba(58, 57, 57, 0.3);
  width: 313px;
  padding: 0;
  height: 16px;
  animation: sweep 2s infinite;
  transform-origin: 0 50%;
}
@keyframes sweep {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
