<div id="createView">
  <div class="container">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body d-flex">
          <h5 class="card-title">Special title treatment</h5>
          <button href="#" class="btn btn-danger">
            Create Your Own Course
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-body d-flex">
          <h5 class="card-title">Special title treatment</h5>
          <button href="#" class="btn btn-danger">
            View Your Created Courses
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
