<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="topic">
        <h2>
          Plan You Course
        </h2>
        <div class="formgroup" [ngClass]="{ active: selectedValue === 'info' }">
          <input
            type="radio"
            id="info"
            name="info"
            value="info"
            [checked]="selectedValue === 'info'"
            (change)="whichFormToShow('info')"
          />
          <label for="info">General</label>
        </div>
        <div
          class="formgroup"
          [ngClass]="{ active: selectedValue === 'description' }"
        >
          <input
            type="radio"
            id="description"
            name="description"
            value="description"
            [checked]="selectedValue === 'description'"
            (change)="whichFormToShow('description')"
          />
          <label for="description">Course Description</label>
        </div>
        <div
          class="formgroup"
          [ngClass]="{ active: selectedValue === 'content' }"
        >
          <input
            type="radio"
            id="content"
            name="content"
            value="content"
            [checked]="selectedValue === 'content'"
            (change)="whichFormToShow('content')"
          />
          <label for="content">Course Lectures</label>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form">
        <div class="form-general col-md 8" *ngIf="selectedValue === 'info'">
          <h3 style="text-align: center; margin-bottom: 2rem;">Course Info</h3>
          <form (ngSubmit)="onSubmitCourseInfo()" #courseInfoData="ngForm">
            <div class="form-group row">
              <label for="courseName" class="col-sm-3 col-form-label"
                >Course Name</label
              >
              <div class="col-sm-7">
                <input
                  type="text"
                  class="form-control"
                  id="courseName"
                  [ngModel]="existingCourse?.name"
                  name="courseName"
                  required
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="category" class="col-sm-3 col-form-label"
                >Category</label
              >
              <div class="col-sm-7">
                <select
                  class="form-control form-control"
                  id="Category"
                  [ngModel]="existingCourse?.category"
                  name="category"
                  required
                >
                  <option>Web</option>
                  <option>Software</option>
                  <option>Design</option>
                  <option>Embedded</option>
                  <option>Others</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="s_desc" class="col-sm-3 col-form-label"
                >Short Description</label
              >
              <div class="col-sm-7">
                <textarea
                  class="form-control"
                  id="s_desc"
                  rows="3"
                  placeholder="Become an expert in ..."
                  [ngModel]="existingCourse?.shortDesc"
                  name="shortDescription"
                  required
                ></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="lectures" class="col-sm-3 col-form-label"
                >Total Lectures
              </label>
              <div class="col-sm-7">
                <input
                  type="number"
                  class="form-control"
                  id="lectures"
                  [ngModel]="existingCourse?.totalLectures"
                  required
                  name="totallectures"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="hours" class="col-sm-3 col-form-label"
                >Total Hours
              </label>
              <div class="col-sm-7">
                <input
                  type="number"
                  class="form-control"
                  id="hours"
                  [ngModel]="existingCourse?.totalHours"
                  name="totalhours"
                  required
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="price" class="col-sm-3 col-form-label">Price</label>
              <div class="col-sm-7">
                <input
                  type="number"
                  class="form-control"
                  id="price"
                  placeholder="€"
                  [ngModel]="existingCourse?.price"
                  name="price"
                  required
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="image" class="col-sm-3 col-form-label"
                >Image URL</label
              >
              <div class="col-sm-7">
                <input
                  type="text"
                  class="form-control"
                  id="image"
                  (change)="onImageSelect($event)"
                  [ngModel]="existingCourse?.image"
                  name="imageurl"
                  required
                />
              </div>
            </div>
            <div class="form-group row" *ngIf="imagePreview">
              <label for="image" class="col-sm-3 col-form-label"
                >Image Preview</label
              >
              <div class="col-sm-7">
                <img
                  [src]="imagePreview"
                  alt="Image"
                  style="height: 15rem; width: 18rem;"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="level" class="col-sm-3 col-form-label">Level</label>
              <div class="col-sm-7">
                <select
                  class="form-control form-control"
                  id="level"
                  [ngModel]="existingCourse?.level"
                  name="level"
                  required
                >
                  <option>Beginners</option>
                  <option>Intermediate</option>
                  <option>Advanced</option>
                  <option>Expert</option>
                  <option>Professional</option>
                </select>
              </div>
            </div>
            <div class="submit">
              <button
                class="btn btn-danger"
                type="submit"
                [disabled]="!courseInfoData.valid"
              >
                Next
              </button>
            </div>
          </form>
        </div>
        <div
          class="form-general col-md 8"
          *ngIf="selectedValue === 'description'"
        >
          <h3 style="text-align: center; margin-bottom: 2rem;">
            Course Description
          </h3>
          <form
            (ngSubmit)="onSubmitCourseFinalCourse()"
            #descriptionForm="ngForm"
          >
            <div class="form-group row">
              <label for="desc" class="col-sm-3 col-form-label">
                Detail Description</label
              >
              <div class="col-sm-7">
                <textarea
                  class="form-control"
                  id="desc"
                  rows="15"
                  name="description"
                  [ngModel]="existingCourse?.desc"
                  required
                ></textarea>
              </div>
            </div>
            <div class="submit">
              <button
                class="btn btn-danger"
                type="submit"
                [disabled]="!descriptionForm.valid"
              >
                Create Course
              </button>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="this.error">
              Course was not created please try again
            </div>
          </form>
        </div>
        <div class="form-general col-md 8" *ngIf="selectedValue === 'content'">
          <h3 style="text-align: center; margin-bottom: 2rem;">
            Course Lectures
          </h3>
          <div
            class="lecture_container"
            style="max-height: 29vh; overflow: hidden; overflow-y: auto;"
            *ngIf="
              existingCourse &&
                existingCourse.courseLecture &&
                !showCourseSuccess;
              else spinner
            "
          >
            <div
              class="alert alert-secondary"
              role="alert"
              *ngFor="let lecture of existingCourse.courseLecture"
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 93%;
                margin: 1rem auto;
              "
            >
              <div>
                <h1 style="font-size: 15px; font-weight: bold;">
                  {{ lecture.title }}
                </h1>
                <h3 style="font-size: 12px;">{{ lecture.desc }}</h3>
              </div>
              <div class="buttons">
                <button style="margin-right: 10px;" class="btn btn-success">
                  Edit
                </button>
                <button class="btn btn-danger">Delete</button>
              </div>
            </div>
          </div>
          <ng-template #spinner>
            <div class="loader" style="height: 20px; width: 20px;">
              Loading...
            </div>
          </ng-template>
          <hr />
          <h3 style="text-align: center;">Add A New Lecture</h3>
          <form
            style="width: 93%; margin: 2rem auto;"
            (ngSubmit)="onSubmitLecture()"
            #lectureInfo="ngForm"
          >
            <div class="form-group row">
              <label for="lectureTitle" class="col-sm-3 col-form-label"
                >Title
              </label>
              <div class="col-sm-7">
                <input
                  type="text"
                  class="form-control"
                  id="lectureTitle"
                  ngModel
                  name="lectureTitle"
                  required
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="lectureDescription" class="col-sm-3 col-form-label"
                >Description
              </label>
              <div class="col-sm-7">
                <textarea
                  class="form-control"
                  id="lectureDescription"
                  rows="5"
                  name="lectureDescription"
                  ngModel
                  required
                ></textarea>
              </div>
            </div>
            <div class="add_lecture" style="text-align: center;">
              <button class="btn btn-danger" type="submit">
                Add Lecture
              </button>
            </div>
          </form>
          <div
            class="alert alert-success"
            role="alert"
            *ngIf="showCourseSuccess"
          >
            Course Added Successfully
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
