<div id="home" *ngIf="!user.authenticated">
  <section id="quote">
    <div class="content">
      <h1>Learn on your schedule</h1>
      <p>Study any topic,anytime. Explore all the courses provided</p>
      <input type="text" placeholder="What do you want to learn?" />
      <button class="btn btn-danger">Search</button>
    </div>
  </section>
  <section id="trending-courses">
    <app-trending [showTrendingCourseButton]="true"></app-trending>
  </section>
</div>

<div class="courses-info" *ngIf="user.authenticated">
  <section id="ongoing-courses">
    <app-current [user]="user"></app-current>
  </section>
  <section id="trending-courses">
    <app-trending [showTrendingCourseButton]="false"></app-trending>
  </section>
</div>
