.courses {
  flex-direction: row;
  margin: 1.5rem 0px;
  height: 15rem;
  cursor: pointer;
}
.result {
  margin: 3rem;
}
.name_price {
  display: flex;
  justify-content: space-between;
}
.course_name {
  font-size: 20px;
}
.courses_list a {
  color: black;
  text-decoration: none;
}
.course_desc {
  font-size: 15px;
  margin: 0.1rem;
}
.course_author {
  font-size: 11.4px;
  color: darkgray;
  margin: 0.1rem;
}
.course_rating {
  font-size: 14px;
  margin-right: 0.5rem;
  color: #f5c251;
  font-weight: bold;
}
.rating {
  display: flex;
  margin-bottom: -10px;
}
star-rating {
  margin-top: -1px;
  margin-bottom: 0;
}
.general {
  font-size: 12.4px;
  color: darkgray;
  margin: 0.1rem;
}

/* Filters */
.filters {
  margin-left: 14vw;
}
.levels input,
.price input,
.ratings input,
.duration input,
.lectures input {
  margin-right: 2rem;
}
.filters h2 {
  margin-bottom: 1.2rem;
}
.levels label,
.price label,
.ratings label,
.duration label,
.lectures label {
  font-weight: 100;
}
.highlight {
  display: flex;
  height: 10rem;
  background: url(https://udemy-images.udemy.com/browse_components/shared-assets/purple-intersect.svg)
    repeat-x #003640;
  background-size: auto 120%;
  background-position: 0 -2.4rem;
  color: white;
}
.highlight h2 {
  padding: 11px;
  padding-top: 20px;
  font-size: 24px;
}
.highlight p {
  padding-left: 11px;
}
.highlight button {
  background-color: #0f7c90;
  cursor: pointer;
  margin-left: 49%;
  margin-top: 4%;
  height: 27%;
  color: white;
}
