<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img class="logo" src="../../assets/img/navLogo.png" alt="Brand" />
  </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <form class="form-inline my-2 my-lg-0" style="margin-left: 3vw;">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for anything"
        aria-label="Search"
        style="width: 26vw; height: 3.5rem;"
      />
      <button class="btn btn-outline-danger my-2 mx-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <ul *ngIf="!user.authenticated" class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <button
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#loginModal"
          #loginModalToggle
        >
          Log In
        </button>
      </li>
      <li class="nav-item">
        <button
          class="btn btn-danger"
          data-toggle="modal"
          data-target="#signupModal"
        >
          Sign Up
        </button>
      </li>
    </ul>
    <div class="teach mycourses" *ngIf="user.authenticated">
      <button class="btn">Teach On Udemy</button>
      <button disabled style="color: black;">|</button>
      <button class="btn">My Courses ▼</button>
    </div>
    <div class="btn-group ml-auto" *ngIf="user.authenticated">
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        style="border-radius: 50%; width: 4rem; height: 4rem;"
      >
        <span *ngIf="user.user">
          {{ user.user.firstName.slice(0, 1)
          }}{{ user.user.lastName.slice(0, 1) }}
        </span>
      </button>
      <div
        class="dropdown-menu dropdown-menu-right"
        style="width: 23rem; font-size: small;"
      >
        <div class="information">
          <button
            type="button"
            class="btn btn-secondary"
            style="border-radius: 50%; width: 4rem; height: 4rem;"
          >
            <span *ngIf="user.user">
              {{ user.user.firstName.slice(0, 1)
              }}{{ user.user.lastName.slice(0, 1) }}
            </span>
          </button>
          <div class="name">
            <p style="margin-top: 1.1rem;">
              <span *ngIf="user.user">
                {{ user.user.firstName }} {{ user.user.lastName }}
              </span>
            </p>
            <p style="margin-top: -1rem;" *ngIf="user.user">
              {{ user.user.email }}
            </p>
          </div>
        </div>
        <hr />
        <a class="dropdown-item" href="#">Add Details</a>
        <a class="dropdown-item" href="#">Add Course</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="onLogout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar -->

<!-- Login -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">
          Log In to Your Account
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeLoginModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button class="card">
          <div class="card-body">
            <img src="../../assets/img/google.png" alt="google" />
            <h4><strong>Continue with Google</strong></h4>
          </div>
        </button>
        <button class="card">
          <div class="card-body">
            <img src="../../assets/img/facebook.png" alt="google" />
            <h4><strong>Continue with Facebook</strong></h4>
          </div>
        </button>
        <hr />
        <form
          class="login-form"
          (ngSubmit)="onSubmitLogin()"
          #loginFormData="ngForm"
        >
          <div class="form-group">
            <span class="help-block" *ngIf="error">{{ error }}</span>
            <input
              type="email"
              placeholder="Email"
              class="form-control"
              id="recipient-name"
              ngModel
              name="username"
              required
              email
              (ngModelChange)="disableError()"
              #checkUsername="ngModel"
            />
            <span
              class="help-block"
              *ngIf="!checkUsername.valid && checkUsername.touched"
              >Please Enter A Valid Email</span
            >
          </div>
          <div class="form-group">
            <input
              type="password"
              placeholder="Password"
              class="form-control"
              id="recipient-password"
              ngModel
              name="password"
              required
              (ngModelChange)="disableError()"
              #checkPassword="ngModel"
            />
            <span
              class="help-block"
              *ngIf="!checkPassword.valid && checkPassword.touched"
              >Please Enter A Valid Password</span
            >
          </div>
          <button
            type="button"
            type="submit"
            class="btn btn-danger"
            [disabled]="!loginFormData.valid"
          >
            <app-spinner *ngIf="isLoading"></app-spinner>
            <span *ngIf="!isLoading"> Log In</span>
          </button>
        </form>

        <p style="margin-top: 2.5rem; text-align: center;">
          Dont have an account?
          <button
            style="color: #395999; border: none;"
            data-toggle="modal"
            data-dismiss="modal"
            data-target="#signupModal"
          >
            <strong>Sign Up</strong>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Login -->

<!-- SignUp -->
<div
  class="modal fade"
  id="signupModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalSignUpLongTitle">
          Signup And Start Learning
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeSignUpModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          class="login-form"
          (ngSubmit)="onSubmitSignup()"
          #signUpFormData="ngForm"
        >
          <div class="form-group">
            <span class="help-block" *ngIf="error">{{ error }}</span>
            <input
              type="text"
              placeholder="First Name"
              class="form-control"
              id="signup-recipient-fname"
              ngModel
              name="firstName"
              required
              #checkFirstName="ngModel"
            />
            <span
              class="help-block"
              *ngIf="!checkFirstName.valid && checkFirstName.touched"
              >Please Enter You First Name</span
            >
          </div>
          <div class="form-group">
            <input
              type="text"
              placeholder="Last Name"
              class="form-control"
              id="signup-recipient-lfname"
              ngModel
              name="lastName"
              required
              #checkLastname="ngModel"
            />
            <span
              class="help-block"
              *ngIf="!checkLastname.valid && checkLastname.touched"
              >Please Enter You Last Name</span
            >
          </div>
          <div class="form-group">
            <input
              type="email"
              placeholder="Email"
              class="form-control"
              id="signup-recipient-email"
              ngModel
              name="email"
              required
              email
              (ngModelChange)="disableError()"
              #checkEmailname="ngModel"
            />
            <span
              class="help-block"
              *ngIf="!checkEmailname.valid && checkEmailname.touched"
              s
              >Please Enter A Valid Email</span
            >
          </div>
          <div class="form-group">
            <input
              type="password"
              placeholder="Password"
              class="form-control"
              id="signup-recipient-password"
              ngModel
              name="signUpPassword"
              required
              minlength="6"
              #checkSignUpPassword="ngModel"
            />
            <span
              class="help-block"
              *ngIf="!checkSignUpPassword.valid && checkSignUpPassword.touched"
              >Please Enter A Valid Password</span
            >
          </div>
          <button
            type="button"
            type="submit"
            class="btn btn-danger"
            [disabled]="!signUpFormData.valid"
          >
            <app-spinner *ngIf="isLoading"></app-spinner>
            <span *ngIf="!isLoading"> Sign Up</span>
          </button>
        </form>
        <p style="margin-top: 2.5rem; text-align: center;">
          Already have an account?
          <button
            style="color: #395999; border: none;"
            data-toggle="modal"
            data-target="#loginModal"
            data-dismiss="modal"
          >
            <strong>Log In</strong>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
