<div id="coursedesc_container" *ngIf="!loading; else spinner">
  <header id="heading" *ngIf="course">
    <div class="content">
      <h1 class="course_name">{{ course.name }}</h1>
      <p class="course_shortdesc">
        {{ course.shortDesc }}
      </p>
      <div class="rating" style="display: flex;">
        <star-rating
          value="{{ course.rating }}"
          checkedcolor="#f5c251"
          uncheckedcolor="#dedfe0"
          size="15px"
          readonly="true"
        ></star-rating>
        <p style="margin-left: 10px;">{{ course.rating }}.0</p>
      </div>
      <p class="generalinfo">
        Created by {{ course.courseAuthor }}, &nbsp; &nbsp; Last Updated
        {{ course.dateAdded | date }}
      </p>
    </div>
    <div class="price_container">
      <div class="wishlist">
        <div style="cursor: pointer; margin: 6% 0.5% 3% 49%;"></div>
      </div>
      <div class="price_content">
        <div class="image">
          <img src="{{ course.image }}" alt="{{ course.name }}" />
        </div>
        <div class="price">
          <h1 style="color: black; margin: 25px 0px 0px 25px;">
            €{{ course.price }}
          </h1>
        </div>
        <ng-container
          *ngIf="!checkWhichButtonToShowForUserAction; else spinnerComponent"
        >
          <div class="cart" *ngIf="!isUserEnrolledForCourse; else deleteCourse">
            <ng-container
              *ngIf="!hasUserCreatedThisCourse; else userCreatedCourse"
            >
              <button
                class="btn btn-danger"
                [disabled]="hasUserCreatedThisCourse"
              >
                WishList
              </button>
              <button
                class="btn btn-light"
                [disabled]="hasUserCreatedThisCourse || !user.authenticated"
                (click)="registerCourse()"
              >
                Buy now
              </button>
            </ng-container>
            <ng-template #userCreatedCourse>
              <button class="btn btn-danger" (click)="addlecturedToCourse()">
                Add Lectures To The Course
              </button>
              <button class="btn btn-light" (click)="registerCourse()">
                Delete Lectures
              </button>
            </ng-template>
            <div
              class="alert alert-danger"
              *ngIf="hasUserCreatedThisCourse"
              role="alert"
              style="text-align: center;"
            >
              <span style="font-size: 12.5px;">
                This Course is created by you</span
              >
            </div>
            <div
              class="alert alert-danger"
              *ngIf="!user.authenticated"
              role="alert"
            >
              Please login to enroll in the course
            </div>
          </div>
          <ng-template #deleteCourse>
            <div class="cart">
              <div class="alert alert-success" role="alert">
                Already Enrolled for the course
              </div>
              <button class="btn btn-danger" (click)="deRegisterCourse()">
                Unenroll Now
              </button>
            </div>
          </ng-template>
        </ng-container>
        <ng-template #spinnerComponent>
          <div class="loader" style="height: 20px; width: 20px;">
            Loading...
          </div>
        </ng-template>
        <div class="info">
          <p>This course includes</p>
          <p>{{ course.totalHours }} hours on-demand video</p>
          <p>{{ course.totalLectures }} lectures</p>
          <p>Full Life time Access</p>
        </div>
      </div>
    </div>
  </header>

  <section id="body">
    <div
      class="learn"
      style="
        width: 40vw;
        margin: 2rem 11vw;
        background-color: #f9f9f9;
        border: 1px solid #dedfe0;
      "
    >
      <h3 style="font-size: 22px; font-weight: bold; margin: 2rem 1rem;">
        What You Will Learn
      </h3>
      <p style="padding-left: 15px;">{{ course.desc }}</p>
    </div>
    <h3
      style="
        font-size: 22px;
        font-weight: bold;
        margin: 2rem 11vw;
        width: 40vw;
      "
    >
      Course Content
    </h3>
    <div
      class="lectures"
      style="
        width: 40vw;
        padding: 0.5rem;
        margin: 0.5rem 11vw;
        background-color: #f9f9f9;
        border: 1px solid #dedfe0;
        display: flex;
        height: 4vh;
        font-weight: bold;
        align-items: center;
      "
      *ngFor="let lectures of course.courseLecture; let i = index"
    >
      <span style="color: #007791;">+</span>
      <span style="margin-left: 3vw; width: 29vw;">{{ lectures.title }}</span>
      <span style="font-weight: 100;">Section - {{ i + 1 }}</span>
    </div>
  </section>
</div>
<ng-template #spinner>
  <div class="loader">Loading...</div>
</ng-template>
